beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.5
django-ckeditor==5.3.0
django-froala-editor==2.7.0.post1
django-js-asset==0.1.1
django-mediumeditor==1.0.0
django-tinymce==2.6.0
djangorestframework==3.7.7
GitPython==2.1.8
html2markdown==0.1.5
html2text==2016.9.19
idna==2.6
markdown2==2.3.4
oauthlib==2.0.4
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.1
PyGithub==1.35
PyJWT==1.5.3
python-openid==2.2.5
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
ruamel.yaml==0.15.37
six==1.11.0
social-auth-app-django==1.2.0
social-auth-core==1.4.0
urllib3==1.22
flake8==3.5.0
