*{
	margin: 0px;
	padding: 0px;
	font-family: Ubuntu;
	
}
#header {
	border : none;
	transition-duration: 0.5s;
	margin: 0px;
	background: #343434;
}
#header .navbar-brand strong{
	font-family: Ubuntu;
	font-size: 32px;
    color: #FFF5B9;
}
.container-fluid{
	background: #343434;
}
.container-fluid, .col-md-12{
	padding: 0px;
}
.row{
	margin: 0px;
}
#header li a strong{
	color: #FFF5B9;
}
#header li a:hover{
	border-bottom: 3px solid red;
}

#main-content{
    background: white;
    color: black;
    padding: 48px;
    padding-left: 128px;
}
#main-content ul{
    padding-left: 48px;
    list-style: none;
}
.footer{
    color: #ccc;
    text-align: center;
    padding: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #343434;
}
.footer a {
    text-decoration: none;
}
.footer a strong {
    color: white;
}
